
.mainDiv {
  text-align: center;
  display: flexbox;
}

.header {
  display: inline-block;
}

.cardDisplay {
  padding: 25px;
 text-align: left;
 width: 250px;
 box-shadow: 25px;
  display: flexbox;
  width: 250px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 7px 7px 5px #aaaaaa;
  border-radius:  10px

}

.h3 {
  padding: 15px;
  border-radius:  10px
}

.ToDo {
  text-align: center;
  border-radius:  15px;
}

.addToDoButton {
  border-radius:  5px;
}

.categorycard {
 padding: 25px;
 text-align: left;
 width: 250px;
 box-shadow: 25px;
  display: flexbox;
  width: 250px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 7px 7px 5px #aaaaaa;
  border-radius:  10px

}
.buttonGroup {
   text-align: center;
   margin-top: 10px;
    overflow: hidden;

}

#buttonOne {
  background-color: tomato;
  float: left;
}

#buttonTwo {
  background-color: turquoise
}