


.header {
  display: inline-block;
}



.h3 {
  padding: 15px;
  border-radius:  10px
}

.ToDo {
  text-align: center;
  border-radius:  15px;
}

.addToDoButton {
  border-radius:  5px;
  background-color: #47526d;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
  margin-bottom: 20px;
  border: 1px solid black;
  margin-top: 80px;
}

.categorycard {

/*
 word-wrap: break-word;

 padding: 10px 10px 20px 10px;
border-radius:  10px; */

text-align: center;
 font-size: 22px;
  background-color: white;
  box-shadow: 2px 2px 2px #aaaaaa;
  background-color: #f2f5f9;
  width: 200px;
  height: 250px;
  display: flexbox;
  padding: 25px;

}



.buttonGroup {
   text-align: center;
   margin-top: 10px;
    overflow: hidden;
    column-count: 2;

}

#buttonOne {
  background-color: #47526d;
  float: left;
}

#buttonTwo {
  background-color: #47526d;
}



#CardTitle {
font-size: 30px;
}

.SaveEditButton {
  background-color: #47526d;
  border: 1px solid black;
}

.categoryName {
  display: flexbox;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
  padding-bottom: 40px;
}

#SaveTaskForm {
  background-color: #47526d;
  border: 1px solid black;
}

.fullCatCardList {
  display: flexbox;
max-width: 275px;

}

