
.mainDiv {
  text-align: center;
  display: flexbox;

}

.header {
  display: inline-block;
}

.cardDisplay {
 padding: 3px;
 text-align: left;
 width: 250px;
border: black;
 border-style: double;


}

.h3 {
  padding: 15px;
}

.ToDo {
  text-align: center;
}

.individualCats {

  text-align: center;
 font-size: 22px;
  background-color: white;
  box-shadow: 2px 2px 2px #aaaaaa;
  background-color: #f2f5f9;
  min-width: 200px;
  min-height: 130px;
  
  /* padding: 29px; */
}



#catImg {
  height: 30px;
}


.categories {
  text-align: center;
  padding-bottom: 40px;
  font-family: 'Muli', sans-serif;
  color: black;

}

.entireCatList {
  display: flexbox;
  justify-content: center;


}
.catName {
 color: black;
 font-family: 'Muli', sans-serif;
 padding-bottom: 40px;


 flex-wrap: wrap;
}