
.mainDiv {
  text-align: center;
  display: flexbox;
}

.header {
  display: inline-block;
}

.cardDisplay {
 padding: 3px;
 text-align: left;
 width: 250px;
 border: 1px;
 border-style: double;
}

.h3 {
  padding: 15px;
}

.ToDo {
  text-align: center;
}