
.mainDiv {
  text-align: center;
  display: flexbox;
}

.header {
  display: inline-block;
}

.cardDisplay {
 padding: 3px;
 text-align: left;
 width: 250px;
 border: 1px;
 border-style: double;
}

.h3 {
  padding: 15px;
}

.ToDo {
  text-align: center;
}

.individualCats {
  text-align: center;
  font-size: 22px;
  padding: 25px;
  word-wrap: break-word;
  box-shadow: 25px;
  display: flexbox;
  max-width: 450px;
  padding: 10px 10px 10px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  height: 70px;
  box-shadow: 3px 3px 3px #aaaaaa;
  border-radius:  10px
}

.entireCatList {
 display: block;
}