.HomeButton {
  text-align: center;
}
.btn-success {
  display: flexbox;
  justify-content: space-evenly;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid black;

}

#editButton {
  background-color: #47526d;
  margin-left: 10px;
}

#deleteButton {
  background-color: #47526d;
  margin-left: 10px;

}



/* .homes {
  background-color:
} */
#AddAHomeButton {
  background-color: #47526d;

}

#SaveHomeBTN {
  background-color: #47526d;
  border: 1px solid black;
  display: flexbox;
  margin-right: 170px;
}

.form-control {

  max-width: 400px;

}
.labelInput {
  text-align: center;
}

.CardTitle
{
  font-size: 30px;
  text-align: center;
  border-radius: 20px;
}


.editAndDeleteGroup {
  text-align: center;
}
.thingsToDo {
  margin-left: 110px;
}

.cardBodyHomeCard {
  border-radius: 20px;
  border: 1px solid black;
  background-color: #efefef;

}

.icon--home {
  border-radius: 10px;
  margin-left: 50px;
  box-shadow: 3px 3px #dce3ef
}

#homeForm {
  padding-block-start: 100px;
  display: flexbox;
  justify-content: center;

}

#homeAddress {
  display: flex;

}
#submitButton {
  background-color: #47526d;
  border: 1px solid black;
}

