.HomeButton {
  text-align: center;
  padding-bottom: 10px;
}
.btn-success {
  display: flexbox;
  justify-content: space-evenly;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid black;

}

#editButton {
  background-color: #47526d;
  margin-left: 10px;
}

#deleteButton {
  background-color: #47526d;
  margin-left: 10px;

}



/* .homes {
  background-color:
} */
#AddAHomeButton {
  background-color: #47526d;
  margin-top: 40px;
  margin-bottom: 20px;

}

#SaveHomeBTN {
  background-color: #47526d;
  border: 1px solid black;
  display: flexbox;
  margin-right: 170px;
}

.form-control {
  max-width: 400px;


}

.labelInput {
  text-align: center;
}

.CardTitle
{
  font-size: 30px;
  text-align: center;
  border-radius: 20px;
}

.editAndDeleteGroup {
  text-align: center;
}

.thingsToDo {
  margin-left: 110px;
  padding-top: 55px;
}

.cardBodyHomeCard {
  border-radius: 5px;
   border: 1px solid #bcc0c6;
  background-color: #f4f5f7;
  display: inline-block;
max-width: 380px;
height: 385px;
margin: 20px auto;
box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.icon--home {
  border-radius: 5px;
  margin-left: 50px;
  box-shadow: 2px 2px #dce3ef;
  max-width: 170px;
  max-height: 200px;

}

#homeForm {
  padding-block-start: 100px;
  display: flexbox;
  justify-content: center;

}

#homeAddress {
  display: flex;

}
#submitButton {
  background-color: #47526d;
  border: 1px solid black;
}


.homesTitle {
  text-align: center;
  padding-bottom: 75px;
  font-family: 'Muli', sans-serif;
  color: black;
  padding-top: 75px;
  border-bottom: 2px solid grey;
}

.homeImage {
   display: inline-block;
    margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 2px;
padding-top: 1px;

   height: 30%;

}

.homeCardsBackground {
  background-color: #f7f8f9;
  border-radius: 5px;
  background-image: url("https://images.unsplash.com/photo-1457092716468-97352752b749?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=986&q=80");
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;

}

.entireImageDiv {
  background-color: #f7f8f9;
  border-radius: 5px;
  display: flex-wrap;
  padding-left: 15px;
  padding-right: 15px;

}

.imageRow {
  width: 80%
}

.form-group {
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  padding: 8px;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
  color: black;
  margin-left: auto;
  margin-right: auto;
}

.form-control {

display: block;
  /* margin-left: auto;
  margin-right: auto; */
  padding: 8px;
  text-align: center;
  border-radius: 5px;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
}

#homeForm {
  background-color: #f7f7f7;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.homeEdit {
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  padding: 8px;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
  color: black;
  margin-left: auto;
  margin-right: auto;
}

#submitButtonEdit {
  background-color: #47526d;
  border: 1px solid black;
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  padding: 8px;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
  color: black;
  margin-left: auto;
  margin-right: auto;
}