#img {
  display: flexbox;
  width: 110px;
}

.cardImageClassName{

  max-Height: 125px;
  max-Width: 165px;
  border: 5px;
 display: flex;
 justify-content: center;
 padding-bottom: 5px;
}

.articleNameClassName {

  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
}

.cardImageBackgroundColor {

  display: flex;
  justify-content: center;
}

.articleButton {
  max-height: 54px;
  margin-left: 25px;
}

.Advice {
  text-align: center;
  padding-bottom: 40px;
  font-family: 'Muli', sans-serif;
  color: black;
  padding-top: 30px;
}

.adviceCards {
  height: 350px;
  text-align: center;
  font-size: 22px;
   background-color: white;
   box-shadow: 2px 2px 2px #aaaaaa;
   background-color: #f2f5f9;
   min-width: 200px;

   padding-bottom: 50px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}