#img {
  display: flexbox;
  width: 110px;
}

.cardImageClassName{
  max-Height: 85px;
  max-Width: 85px;
  border: 5px;
 display: flex;
 justify-content: center;
 padding-bottom: 5px;

}

.articleNameClassName {
 
  padding-top: 5px;
  padding-bottom: 5px;
}

.cardImageBackgroundColor {

  display: flex;
  justify-content: center;
}

.articleButton {
  max-height: 54px;
}

.Advice {
  text-align: center;
  padding-bottom: 40px;
  font-family: 'Muli', sans-serif;
  color: black;
  padding-top: 30px;
}