#footerBody {
  background-color: #9fb9c4;
  border-radius: 5px;
  margin-top: 300px;
}

.footerLink {

  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  padding: 8px;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
  color: black;
  margin-left: auto;
  margin-right: auto;
}

.entirebottomFooter {
  background-color: #47526d;
  padding: 8px;
}

#houseImgFooter {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}