.nav-link {

  background-color: #cee1ff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  text-align: center;
  border-radius: 5px;
}

.nav-pills {
  background-color: whitesmoke;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  border-radius: 5px;

}
#navButton {
  background-color: whitesmoke;
}

.navId {
  background-color: whitesmoke;
}

#linkId {
  background-color: whitesmoke;
}