.nav-link {

  background-color: #cfd1d3;
  display: inline-block;
  /* margin-left: auto;
  margin-right: auto; */
  width: 30%;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
  
}

.nav-pills {
  background-color: whitesmoke;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  border-radius: 5px;
  display:inline-block;

}
#navButton {
  background-color: #cfd1d3;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  text-align: center;
  border: 1px black;

}

.navId {
  background-color: whitesmoke;
}

#linkId {
  background-color: #cfd1d3;
color: black;

}

#NavId {
  background-color: #cfd1d3;
}